@import '@assets/styles/main.scss';

.button {
  display: inline-block;
  border: none;
  padding: rem(10) rem(30);
  font-size: rem(12);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: rem(10);
  text-decoration: none;
  transition: all 0.3s ease;

  @media (min-width: $size-tablet) {
    font-size: rem(14);
    padding: rem(10) rem(20);
  }

  &--primaryColor {
    background-color: $primary-color;
    color: $white;
  }

  &--black {
    background-color: $main-black;
    color: $white;
  }

  &--white {
    background-color: $white;
    color: $main-black; 
  }

  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }


  &:hover {
    opacity: 0.8;
  }
}
