@import '@assets/styles/main.scss';


.activityCard {
  width: 100%;
  background: $white;
  border-radius: rem(10);
  overflow: hidden;
  border: 2px solid transparent;
  transition: box-shadow 0.3s ease-in-out, border-color 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    box-shadow: 0 rem(8) rem(15) rgba($main-black, 0.2);
    border-color: rgba(black, 0.1);
  }

  &__image {
    width: 100%;
    height: rem(200);
    object-fit: cover;
  }

  &__content {
    padding: rem(15);
  }

  &__category {
    font-size: rem(12);
    font-weight: bold;
    color: $secondary-gray;
    text-transform: uppercase;
    margin-bottom: rem(5);
  }

  &__titleLink{
    text-decoration:none;
    color: $main-black;

    &:hover{
      color: $primary-color;
    }
  }

  &__title {
    font-size: rem(20);
    font-weight: bold;
  }

  &__provider {
    font-size: rem(12);
    color: $secondary-gray;
    font-weight: 500;
    margin-bottom: rem(5);
  }

  &__price {
    font-size: rem(18);
    color: $primary-color;
    font-weight: bold;
  }

  &__details {
    font-size: rem(14);
    color: $secondary-gray;
    margin: rem(5) 0;
  }

  &__date,
  &__time {
    font-weight: bold;
  }

  &__duration,
  &__location {
    font-size: rem(12);
    color: $secondary-gray;
    display: flex;
    align-items: center;
  }
  &__locationImage{
    width: rem(15);
    margin-right: rem(5);
  }

  &__deleteButton{
    background-color: $red;
    width: 100%;

    &:hover{
      background-color: $main-black;
    }
  }
}