@import '@assets/styles/main.scss';

.activity {

  &__title {
    font-size: rem(32);
    margin-bottom: rem(10);
    font-weight: bold;
  }

  span{
    font-weight: 600;
  }

  &__company {
    color: $secondary-gray;
    margin-bottom: rem(20);
    font-weight: 500;
  }

  &__content {
    display: flex;
    gap: rem(20);
    flex-direction: column;
    margin-bottom: rem(20);

    @media (min-width: $size-tablet) {
      flex-direction: row;
    }
  }

  &__category {
    background: $light-gray;
    padding: rem(10) rem(15);
    border-radius: rem(10);
    font-size: rem(14);
    font-weight: 500;
    border: none;
    transition: background 0.3s ease;
    display: inline-block;
    margin-bottom: rem(40);
  }
  
  &__info {
    flex: 1;
    background-color: $main-gray;
    padding: rem(30);
    border-radius: rem(10);

    &__image-wrapper {
      max-width: rem(200);
      max-height: rem(200);
      margin-bottom: rem(20);
    }

    &__image {
      max-width: rem(200);
      max-height: rem(200);
      object-fit: contain;
      object-position: left;
    }

    &__text{
      margin-bottom: rem(10);
    }
    strong{
      font-weight: 600;
    }

    &__link{
      color: $main-black;
  
      &:hover{
        color: $primary-color;
        text-decoration: none;
      }
    }
  }

  &__infoTitle{
    text-transform: uppercase;
    border-bottom: 1px solid $main-black;
    padding-bottom: rem(5);
    margin-bottom: rem(20);
    font-weight: 600;
  }

  &__date,
  &__location {
    margin-bottom: rem(15);
    display: flex;
    gap: rem(10);
    align-items: center;
    
    img{
      height: rem(20);
      width: rem(20);
    }
  }

  &__stats {
    border-bottom: 1px solid $main-gray;
    margin-bottom: rem(20);

    li {
      margin-bottom: rem(20);
      font-size: rem(14);
    }
  }

  &__description {
    margin-bottom: rem(20);
    font-size: rem(14);
  }

  &__includes, &__excludes {
    margin-bottom: rem(20);
    font-size: rem(14);
  }

  &__footer {
    display: flex;
    justify-content: center;
    gap: rem(20);
    align-items: center;
    background: $main-gray;
    padding: rem(20);
    flex-direction: column;
    z-index: 999;
  
    @media (min-width: $size-mobile) {
      flex-direction: row;
    }

    &.fixed {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__price {
    font-size: rem(40);

    span{
      font-size: rem(20);
    }
  }

}
