@import '@assets/styles/main.scss';

.header__mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(20);
    align-items: center;
    border-top: 1px solid $main-gray;
    padding-top: rem(20);

    @media (min-width: $size-tablet) {
        flex-direction: row;
        gap: rem(10);
        border-top: none;
        padding-top: 0;
    }

    &-link{
        text-decoration: none;
        color: $main-black;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: 500;
        font-size: rem(15);

        &:hover, &--selected{
            color: $primary-color;
        }
    }
}