@import '@assets/styles/main.scss';

.footer {
  background-color: $main-black;
  color: $white;

  &__container {
    margin-bottom: rem(30);
  }

  &__logoSection {
    margin-bottom: rem(30);
    text-align: left;
  }

  &__logoImage {
    max-width: rem(130); 
    height: auto;
  }

  &__sections {
    display: grid;
    grid-template-columns: 1fr;
    gap: rem(40);
    justify-items: center;

    @media (min-width: $size-mobile) {
    grid-template-columns: repeat(2, 1fr);
    }
    
    @media (min-width: $size-tablet) {
        grid-template-columns: repeat(4, 1fr);
    }
  }

  &__section {
    width: 100%;
  }

  &__sectionTitle {
    margin-bottom: rem(20);
    padding-bottom: rem(5);
    text-transform: uppercase;
    border-bottom: 1px solid $white;
  }

  &__list {
    list-style-type: none;
    padding-left: 0;
  }

  &__listItem {
    margin-bottom: rem(20);
  }

  &__link {
    color: $white;
    text-decoration: none;
    font-size: rem(14);

    &:hover {
      text-decoration: underline;
      color: $primary-color;
    }
  }

  &__socialIcons {
    display: flex;
    gap: rem(10);
  }

  &__socialImages {
    height: rem(25);
  
  }

  &__info {
    margin-bottom: rem(10);
    font-size: rem(14);
  }

  &__bottom {
    text-align: center;
    padding-top: rem(40);
    border-top: 1px solid $white;
    font-size: rem(14);
  }

  &__scrollTopButton {
    position: fixed;
    bottom: rem(20);
    right: rem(20);
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
      opacity: 0.7;
    }
  }
  &__arrowUp{
    width: rem(50);
  }
}
  