@import '@assets/styles/main.scss';

.loginRegister {
  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: rem(20);
    flex-direction: column;

    @media (min-width: $size-tablet) {
      flex-direction: row;
    }
  }
}

.login,
.register {
  background-color: $white;
  padding: rem(30);
  box-shadow: 0 0 15px rgba($main-black, 0.07);
  border-radius: rem(10);
  flex:1;

  &__title {
    font-size: rem(24);
    font-weight: 600;
    margin-bottom: rem(20);
  }
}

.login {
  &__form-group {
    margin-bottom: rem(20);
  }

  &__form-group label {
    display: block;
    margin-bottom: rem(5);
  }

  &__input {
    width: 100%;
    padding: rem(10);
    border-radius: rem(5);
    border: 1px solid $light-gray;
  }

  &__link {
    color: $primary-color;
    text-decoration: none;
    font-size: rem(14);
  }

  &__link:hover {
    text-decoration: underline;
  }
}

.register {

  &__text {
    margin-bottom: rem(20);
  }
  strong{
    display: block;
    font-weight: 600;
  }
}
