@import '@assets/styles/main.scss';

.search-filters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: rem(600);
    background: $white;
    border-radius: rem(10);
    // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    // margin: auto;
    border: 1px solid $secondary-gray;
  
    &__form {
      display: flex;
      width: 100%;
      flex-direction: column;

      @media (min-width: $size-mobile) {
        flex-direction: row;
    }
    }
  
    &__input-group {
      display: flex;
      flex: 1;
      margin-right: rem(10);
    }
  
    &__input {
      flex: 1;
      padding: rem(10);
      border: none;
      outline: none;
      font-size: rem(14);
      color: $main-black;
      border-right: 1px solid $secondary-gray;
    }
  
    &__location {
      display: flex;
      align-items: center;
      padding: 0 rem(15);
      color: $secondary-gray;
      font-size: rem(14);
      cursor: pointer;
    }
  
    &__select {
      border: none;
      padding: rem(10);
      font-size: rem(14);
      cursor: pointer;
      color: $secondary-gray;
      outline: none;
      background-color: $white;
    }
  
    &__button {
      background: $primary-color;
      border: none;
      padding: rem(10) rem(20);
      cursor: pointer;
      color: $white;
      font-weight: bold;
      transition: background 0.3s ease;
      text-transform: uppercase;
  
      &:hover {
        background: $main-black;
      }
    }
  }
  