@import '@assets/styles/main.scss';

.registration-form {
  max-width: rem(600);
  margin: rem(30) auto;
  padding: rem(30);
  background-color: $white;
  border-radius: rem(10);
  box-shadow: 0 0 15px rgba($main-black, 0.07);

  &__title {
    text-align: center;
    font-size: rem(30);
    margin-bottom: rem(40);
  }

  &__group {
    margin-bottom: rem(20);
  }

  &__label{
    text-transform: uppercase;
    margin-bottom: rem(5);
    display: inline-block;
    font-size: rem(14);
    font-weight: 500;
  }

  &__input {
    width: 100%;
    padding: rem(10);
    border: 1px solid $main-gray;
    border-radius: rem(10);
    transition: border-color 0.2s ease;

    &:focus {
      outline: none;
    }
  }

  &__checkbox-label {
    display: flex;
    align-items: center;

    a {
      color: $primary-color;
      font-weight: 600;
      text-decoration: underline;
      margin-left: rem(5);

      &:hover {
        text-decoration: none;
      }
    }
  }

  &__checkbox {
    margin-right: 0.5rem;
    width: rem(15);
    height: rem(15);
  }

  &__button{
    text-align: center;
  }

}