@import '@assets/styles/main.scss';

.activitiesPage {

    &__title {
      font-size: rem(32);
      font-weight: 700;
      margin-bottom: rem(40);

      span{
        color: $primary-color;
      }
    }
  
    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(20);
      justify-items: center;
      // margin-bottom: rem(60);
  
      @media (min-width: $size-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
      
      @media (min-width: $size-large) {
          grid-template-columns: repeat(4, 1fr);
      }
  
    }

    &__searchFilter-container{
      margin-bottom: rem(40);
      display: flex;
      justify-content: center;
    }

    &__notFound{
      text-align: center;
      font-size: rem(18);
    }
  }